.input-box {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.input-style {
  height: 100%;
  width: 85%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  font-size: 32px;
  text-align: left;
}

.input-style:focus {
  outline: none;
}

.caution-input-box {
  height: 20%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
