.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.box {
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  border: 10px;
  border-radius: 20px;
  width: 40%;
  height: 30%;
  color: #ff0558;
}
