.carousel-main {
  padding: 0 20px;
  margin-top: 10%;
}

.carousel-name {
  /* 상 우 하 좌 */
  margin: 0px 0px 20px 90px;
  font-size: 2rem;
  font-weight: 600;
}

.wrapper {
  display: flex;
}

.wrapper:hover > button {
  visibility: visible;
}
.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.carousel-image {
  height: 100%;
  width: 100%;
  padding: 0 10%;
  object-fit: contain;
}

.carousel-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  visibility: hidden;
}
