.navigation-bar {
  height: 100%;
  width: 15%;
  padding: 40px;
  background-color: #000000de;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 35px;
}
.link {
  color: #cbcbcc;
  text-decoration: none;
  font-size: 1.5rem;
}

.link:visited {
  text-decoration: none;
}
