.container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.input-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.input-style {
  height: 40px;
  border-radius: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
